@model IEnumerable<NoSQL.Models.Book>

@{
    ViewData["Title"] = "Lista książek";
}

<h1>Lista książek</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWydanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gatunek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWydanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cena)
            </td>
            <td>
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.id">Dodaj do koszyka</a>
            </td>
        </tr>
}
    </tbody>
</table>
